.reg-sub-btn {
    margin: 0 auto;
}
.navbar-badge-menu {
    font-size: 0.6rem;
    font-weight: 300;
    padding: 0;
    margin: -9px 0 0 0;
    position: absolute;
    background-color: #fff !important;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-body {
    display: flex;
    justify-content: space-between;
}
.teamLeader_img {
    width: 50px;
    height: 50px;
}
/* sweet lert */
.bacground {
    background: beige;
}
.swal2-icon.swal2-warning {
    border-color: #facea8;
    color: #f8bb86;
    width: 155px;
    height: 182px;
}
.swal2-popup .swal2-title {
    font-size: 23px !important;
}
/* add customer  */
.form-section {
    display: none;
}

.form-section.current {
    display: inherit;
}
.dummy {
    color: rgb(0, 0, 0)
}
/* showNImage */
.imageUN{
    width:150px;
    height:150px;
    border-radius: 50%;
}
/* Add Lead */
.form-section.current {
    display: inherit;
}
.dummy {
    color: rgb(0, 0, 0)
}
/* report  */
.item-btn{
    display: block;
    padding:0 10px;
    text-decoration: none;
    color: #000;
}
.menu-item{
    background-color: #c4c7c9;
    width: 120px;
    padding: 5px;
    visibility: hidden;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-menu > a{
    margin: 0 15px;
}
.hidden {
    display: none;
}
/* .menu-item-1,.menu-item-2,.menu-item-3,.menu-item-4,.menu-item-5,.menu-item-6{
    display: block;
} */
.action-btn{
    width: 32px;
    height: 32px;
    display: inline-block !important;
    font-size: 12px !important;
}
#myChart{
    width:70%;height:200px;
}
#chart_div{
    width: 70%;height: 500;
}
.chart{
    width: 100%;
}