.reg-sub-btn {
    margin: 0 auto;
}
.navbar-badge-menu {
    font-size: 0.6rem;
    font-weight: 300;
    padding: 0;
    margin: -9px 0 0 0;
    position: absolute;
    background-color: #fff !important;
}
.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-body {
    display: flex;
    justify-content: space-between;
}
.teamLeader_img {
    width: 50px;
    height: 50px;
}
/* sweet lert */
.bacground {
    background: beige;
}
.swal2-icon.swal2-warning {
    border-color: #facea8;
    color: #f8bb86;
    width: 155px;
    height: 182px;
}
.swal2-popup .swal2-title {
    font-size: 23px !important;
}
