.reg-sub-btn{
    margin:0 auto;
}
.navbar-badge-menu{
    font-size: .6rem;
    font-weight: 300;
    padding: 0;
    margin: -9px 0 0 0;
    position: absolute;
    background-color: #fff !important;
}
.user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main-body{
    display: flex;
    justify-content: space-between;
}
.teamLeader_img{
    width: 50px;
    height: 50px;
}